*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    color: white;
}

main {
    background-color: rgb(28, 28, 28);
    color: white;
    height: 100px;
}

.d-flex {
    display: flex;
}

ul {
    list-style: none;
}